<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link rel="stylesheet" href="/stylesheets/notes.css">
</head>

<body>
<%- include(navbar) %>
    <section class="notes__section-wrapper">
        <div class="notes__message_forms_handler">
            <%- include(messages) %>
            <div class="notes__wraper">
                <form class="noteForm" action="/notes" method="post">
                    <h1>New note</h1>
                    <div class="notes__formItemContainer">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" required>
                    </div>
                    <br>
                    <div class="notes__formItemContainer">
                        <label for="content">Content:</label>
                        <textarea id="content" name="content" rows="4" required></textarea>
                    </div>
                    <br>
                    <div class="notes__row-buttons-wrap">
                        <button class="notes__newNoteSubmit" id="newNoteSubmitButton">Create Note</button>
                        <a href="notes/sharednotes" class="note__shared-notes-link">Shared notes</a>
                    </div>
                </form>
                <br>
                <!-- List of existed notes -->
                <div class="notes__existed_notes">
                    <% if(notes.length > 0) { %>
                        <h2 class="notes__listtitle">Your notes</h2>
                    <% } %>
                    <div class="notes__list">
                        <% notes.forEach(note=> { %>
                            <% if (note.title || note.content || note.createNote) { %>
                                <div class="note__item">
                                    <% if (note.title) { %>
                                        <span class="note__title">
                                            <%= note.title %>
                                        </span>
                                    <% } %>
                                    <% if (note.createdAt) { %>
                                        <span class="note__date">
                                            <%= note.createdAt.toLocaleDateString() %>
                                        </span>
                                    <% } %>
                                    <br>
                                    <% if (note.text) { %>
                                        <span class="note__content">
                                            <%= note.text %>
                                        </span>
                                    <% } %>
                                    <br>
                                    <form class="email-form" style="display: none;" action="/notes/share/<%= note.id %>" method="post">
                                        <input type="email" name="email" placeholder="Enter reciever email" required>
                                        <input type="submit" value="Send" class="note__send-share-form-button">
                                    </form>
                                    <div class="note__action-button-wrapper">
                                        <!-- button that calls get method with note id to delete it -->
                                        <a class="note__delete-button" href="notes/delete/<%= note.id %>">Delete</a>
                                        <a class="note__change-button" href="notes/change/<%= note.id %>">Change</a>
                                        <button class="note__share-button">Share</button>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </section>   
<script>
    var shareForms = document.querySelectorAll('.email-form');
    var shareButtons = document.querySelectorAll('.note__share-button');

    shareButtons.forEach((shareButton, index) => {
        shareButton.addEventListener('click', function(event) {
            event.preventDefault();
            var shareForm = shareForms[index];
            if (shareForm.style.display === 'none') {
                shareForm.style.display = 'block';
                shareButton.textContent = 'Close';
            } else {
                shareForm.style.display = 'none';
                shareButton.textContent = 'Share';
            }
        });
    });
</script>
</body>